* {
    padding: 0;
    margin: 0
}

body {
    font-family: 'Montserrat', sans-serif;
    padding:
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(img/slider-background.jpg);
    position: relative;
    padding: 63px 98px;
}

.slider_menu {
    float: right;
}

.slider_menu_list {
    display: inline-block;
    float: left;
}

.slider_menu_link {
    padding: 10px 12px;
    list-style-type: none;
    text-decoration-line: none;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: #8c8c8c;
    font-size: 14px;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

.slider_menu_link_active {
    list-style-type: none;
    text-decoration-line: none;
    color: #212121;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.4px;
    border-bottom: 3px solid;
    padding: 10px 12px;
}

.logo_link {
    width: 185px;
    height: 22px;
}

.slider_tranding {
    color: #43a047;
    font-style: normal;
    letter-spacing: 1.8px;
    font-weight: 700;
    margin-top: 288px;
}

.slider_content > h2 {
    color: #212121;
    font-size: 55px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin: 22px 0px 34px 8px;
}

.slider_content > p {
    margin: 34px 0 32px 0;
    width: 458px;
    height: 38px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.button {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    letter-spacing: 3.6;
    text-align: center;
    text-transform: uppercase;
}

.button > a {
    line-height: 45px;
    text-decoration-line: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3.6px;
}

.feature_new_header {
    margin-left: 107px;
    margin-top: 120px;
    width: 1171px;
    height: 31px;
}

.feature_new_menu {
    list-style-type: none;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    display: inline-block;
    float: left;
    border-bottom: 1px solid;
    border-bottom-color: #6c6c6c;
}

.feature_new_menu_list_active {
    display: inline-block;
    color: #212121;
    border-bottom: 3px solid;
    border-bottom-color: #212121;
    padding-left: 9px;
    padding-right: 20px;
    padding-bottom: 18px;
}

.feature_new_menu_list {
    display: inline-block;
    color: #6c6c6c;
    padding-right: 20px;
    padding-left: 11px;
    padding-bottom: 21px;
}

.explore_all {
    float: right;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 14px;
}

.feature_new_merch {
    list-style-type: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 98px;
}

.feature_new_merch_list {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 120px;
}

.feature_new_merch_list:hover {
    color: #ffffff;
    opacity: 10%;
}

.exclusive1 {
    margin: -3px;
    display: inline-block;
    width: 631px;
    height: 455px;
    background-image: url(img/promo-img.jpg);
    position: relative;
    padding-left: 51px;
    padding-top: 228px;
}

.exclusive2 {
    margin: -3px;
    margin-right: -6px;
    display: inline-block;
    width: 631px;
    height: 455px;
    background-image: url(img/promo-img1.jpg);
    position: relative;
    padding-left: 51px;
    padding-top: 228px;
}

.button_ex {
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}

.button_ex > a {
    line-height: 45px;
    text-decoration-line: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3.6px;
}

.exclusive_title {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.exclusive1 > h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.exclusive2 > h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.exclusive1 > p {
    width: 374px;
    margin-bottom: 34px;
    margin-top: 24px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.exclusive2 > p {
    width: 374px;
    margin-bottom: 34px;
    margin-top: 24px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.trending_products_header {
    width: 1171px;
    margin-left: 98px;
    margin-top: 119px;
    position: relative;
    margin-bottom: 64px;
}


.trending_header {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    /* Text style for "Trending P" */
    font-style: normal;
    letter-spacing: normal;
    float: left;
}


.trend_line {
    margin-left: 98px;
}

.trend_1_1 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_1.jpg);
    display: inline-block;
    margin-right: 30px;
}

.trend_1_2 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_2.jpg);
    display: inline-block;
    margin-right: 30px;
}

.trend_1_3 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_3.jpg);
    display: inline-block;
}

.trend_2_1 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_4.jpg);
    display: inline-block;
    margin-right: 30px;
}

.trend_2_2 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_5.jpg);
    display: inline-block;
    margin-right: 30px;
}

.trend_2_3 {
    width: 370px;
    height: 370px;
    background-image: url(img/trend_6.jpg);
    display: inline-block;
}

.hot_deal_slider {
    background-image: url(img/hot_deal_slider.jpg);
    height: 513px;
    position: relative;
    padding-left: 98px;
    padding-top: 287px;
    margin-bottom: 120px;
}

.hot_deal_title {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.8px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.hot_deal_slider > h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    padding-left: 7px;
    margin-bottom: 34px;
}

.hot_deal_slider > p {
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    margin-bottom: 32px;
}

.random_merch_block {
    width: 1170;
    height: 570;
    position: relative;
}

.random_merch_block_main_block {
    height: 384px;
    width: 540px;
    padding-left: 30px;
    padding-top: 186px;
    background-image: url(img/random_main.jpg);
    float: left;
    margin-left: 98px;
    margin-right: 30px;
}

.random_merch_block_main_block_title {
    color: #1e88e5;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
    margin-bottom: 18px;
}

.random_merch_block_main_block > h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    letter-spacing: normal;
    margin-bottom: 24px;
    margin-left: 1px;
}

.random_merch_block_main_block > p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    width: 332px;
    margin-bottom: 34px;

}

.random_line_block_1_1 {
    width: 270px;
    height: 270px;
    background-image: url(img/random_1.jpg);
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
}

.random_line_block_1_2 {
    width: 270px;
    height: 270px;
    background-image: url(img/random_2.jpg);
    display: inline-block;
    margin-bottom: 30px;
}

.random_line_block_2_1 {
    width: 270px;
    height: 270px;
    background-image: url(img/random_3.jpg);
    display: inline-block;
    margin-right: 30px;

}

.random_line_block_2_2 {
    width: 270px;
    height: 270px;
    background-image: url(img/random_4.jpg);
    display: inline-block;
}

.mobile_app {
    height: 391px;
    background-image: url(img/mobile_back.jpg);
    padding-top: 125px;
    padding-left: 99px;
}

.mobile_app_title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 22px;
}

.mobile_app > h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    width: 407px;
    line-height: 72px;
    letter-spacing: -5px;
    margin-bottom: 26px;
}

.mobile_app > p {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    text-align: left;
    margin-bottom: 33px;
}

.apple_logo {
    width: 135px;
    height: 40px;
    background-image: url(img/app-store.jpg);
    display: inline-block;
    margin-right: 10px;
}

.android_logo {
    width: 135px;
    height: 40px;
    background-image: url(img/google-play.jpg);
    display: inline-block;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
    padding-left: 99px;
    padding-top: 120px;
}

.footer_contact_us {
    width: 221px;
    height: 139px;
    float: left;
    display: inline-block;
    margin-right: 80px;
}

.footer_contact_us_title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}

.footer_contact_us_text {
    width: 221px;
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
}

.footer_Useful_Information {
    width: 422px;
    display: inline-block;


}

.footer_Useful_Information_title {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 25px;
}

.footer_Useful_Information > ul {
    list-style-type: none;
    display: inline;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.7px;
    line-height: 26px;
    float: left;
    width: 190px;
    margin-right: 39px;
}
